:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f5f5;
    --text-color:#333;
    --success-color: #28a745;
}

body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 20px;
}

/* SELETOR DE NOMES */

input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

/* ITENS */

.itens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.itens label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.itens input[type="checkbox"] {
    width: 20px;
    height: 20px;
    transform: translateY(7px);
}

/* ADICIONAIS */

span {
    display: flex;
    padding: 0 10px;
    font-size: 14px;
    margin: 10px 0;
}

.adicionais {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.adicionais label { 
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
}

.adicionais input[type="checkbox"] {
    width: 20px;
    height: 20px;
    transform: translateY(7px);
}

/* ESTILO PRO CONTAINER NÃO OCULTO */

#extrasContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

/* BOTÃO ADICIONAR MAIS */

#addExtraBtn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

/* OBSERVAÇÕES */

.observacoes textarea {
    resize: vertical;
    min-height: 80px;
}


/* BOTÃO ENVIAR */

.sendBtn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sendBtn button {
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    max-width: 400px;
}
